In [46]:
import json
import pandas as pd
import itertools
import numpy as np


csv_path= "FastFoodKagle.csv"

df = pd.read_csv(csv_path)

In [47]:
df.head(1)

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.9213,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."

In [81]:
shortened_df =  df[['name','province', 'city', 'latitude', 'longitude', 'address']].set_index('province')
NC_business_all= shortened_df.loc[['NC']]
NC_business_all.shape

(358, 5)

In [71]:
groupNCbusiness=NC_business_all.groupby('name')['address'].nunique()
NCnames=groupNCbusiness.sort_values(ascending=False)
NCnames.head(1)

name
McDonald's    63
Name: address, dtype: int64

# Top resturants
### McDonald's, Bojangles', Wendy's, Taco Bell, Subway, Pizza Hut, Chick-fil-a, Burger King

In [79]:
NC_business_all['new_name'] = NC_business_all['name'].str.replace(r"[\"\',\s\.]", '').str.upper()
# NC_business_all.head(20)

# NC_business_all[NC_business_all['name'].str.contains('[Dd]onald|Bojangle')]
NC_business_all['name'].str.contains('[Dd]onald|Bojangle')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
'NC_business_all['name'].str.contains' is not recognized as an internal or external command,
operable program or batch file.

In [ ]:
resturants= ["McDonald's", "Bojangles'", "Wendy's", "Taco Bell", "Subway", "Pizza Hut", "Chick-fil-A"]

# for food in resturants: